# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VSCode / PyCharm / IDE configs
.vscode/
.idea/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
*.py,cover
.cache
.pytest_cache/

# mypy / type checking
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# C extensions
*.so

# Mac / Windows system files
.DS_Store
Thumbs.db

# Notebooks outputs
*.nbconvert.ipynb
